@import "tailwindcss";

@theme {
  --color-primary-700: #1C4980;
  --color-blue-700: #0073E6;
  --color-blue-600: #0066ff;
  --color-blue-100: #DEEDFC;
  --color-blue-50: #F2F8FE;
  --color-grey-1100: #383838;
  --color-grey-800: #727272;
  --color-grey-200: #E2E2E2;
  --color-workspace: #e5effa;
}

@layer base {
  body {
    background-color: #e5effa;
    color: #383838;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
